* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none !important;
    color: inherit !important;
}

#rulesList {
    list-style: none !important;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: lightblue !important;
}

.main-game {
    width: 700px;
    height: 700px;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);*/
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

 .memory-card:active {
   transform: scale(0.97);
   transition: transform .2s;
 }


.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

  .front{
    transform: rotateY(180deg);
  }